@model Huertos_Autosustentables.Models.Clima

@{
    ViewData["Title"] = "Delete";
}
<div class="m-5">
    <h4>Estas seguro que quieres borrar @Html.DisplayFor(model => model.NombreClima)</h4>
    <hr />
    <div>
        <div class="row">
            <dl class="col-lg-6">
                <dt>
                    @Html.DisplayNameFor(model => model.NombreClima)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.NombreClima)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CaracteristicasClima)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CaracteristicasClima)
                </dd>
            </dl>
            <dl class="col-lg-6">
                <dd class="font-weight-bold">
                    Imagen Cargada :
                </dd>
                <dt class="w-100">
                    <img src="@("/img/climas/" + Model.ImageName)" asp-append-version="true" class="w-25 h-25" />
                </dt>
            </dl>
        </div>
    
        <form asp-action="Delete">
            <input type="hidden" asp-for="IdClima" />
            <input type="submit" value="Borrar" class="btn btn-danger" /> |
            <a class="btn btn-info" asp-action="Index">Regresar a la lista</a>
        </form>
    </div>
</div>
