@model IEnumerable<Huertos_Autosustentables.Models.Clima>

@{
    ViewData["Title"] = "Index";
}
<div class="m-5">

    <h3 class="text-center">Registro de Climas</h3>
<p>
    <a class="btn btn-success" asp-action="Create">Agregar un nuevo clima</a>
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="card-group col-md-6 col-lg-3">
            <div class="card text-justify">
                <img class="card-img-top" src="@("/img/climas/" + item.ImageName)" asp-append-version="true" />
                <div class="card-body">
                    <h5 class="card-title">Clima: @Html.DisplayFor(modelItem => item.NombreClima)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.CaracteristicasClima)</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdClima">Editar</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.IdClima">Detalles</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdClima">Borrar</a>
                </div>
            </div>
        </div>
    }
</div>
</div>