@model Huertos_Autosustentables.Models.DetalleUsersCultivo

@{
    ViewData["Title"] = "Dealle";
}
<div class="m-4">
    <div class="container">
        <h1 class="text-center">Cultivo: @Html.DisplayFor(model => model.FK_.NombreCultivos)</h1>
        <div class="w-50 mx-auto p-0 m-0" >
            <div class="float-left mx-auto">
                <img class="rounded mx-auto d-block" src="@("/img/cultivo/" + Model.FK_.ImageName)" asp-append-version="true" width="240" height="200" />
            </div>
            <div class="float-right mx-auto pt-5">
                <form name="forma">
                    <div class="col-auto">
                        <label class="sr-only" for="inlineFormInputGroup">Metros Cuadrados de su huerto :</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <input class="form-control" type="number" id="metros" placeholder="Tu Huerto en (m²)" />
                            </div>
                            <input type="button" class="form-control" value="Calcular" id="btnCalcular" onclick="Calcular()" />
                        </div>
                    </div>
                    <div class="col-auto">
                        <label class="sr-only" for="inlineFormInputGroup">Metros Cuadrados de su huerto :</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <input type="number" class="form-control" id="resultado" placeholder="Aproximado de semillas" readonly />
                            </div>
                            <p class="input-group-text">Precio &nbsp;&nbsp;</p>
                        </div>
                    </div>
                    <input type="number" value="@Html.DisplayFor(model => model.PrecioSemillasDetalle)" id="detalle" class="d-none" /> <br /> <br />
                </form>
            </div>
        </div>
        <br />
        <table class="table table-hover">
            <thead>
                <tr>
                    <th WIDTH="10" HEIGHT="50">Item</th>
                    <th WIDTH="100" HEIGHT="50">Información</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td HEIGHT="50" data-label="Consola">@Html.DisplayNameFor(model => model.FK_.NombreCultivos)</td>
                    <td HEIGHT="50" d data-label="Precio">@Html.DisplayFor(model => model.FK_.NombreCultivos)</td>

                </tr>
                <tr class="text-justify">
                    <td HEIGHT="50" data-label="Consola">@Html.DisplayNameFor(model => model.FK_.IntroduccionCultivos)</td>
                    <td HEIGHT="70" d data-label="Precio">@Html.DisplayFor(model => model.FK_.IntroduccionCultivos)</td>
                </tr>
                <tr class="text-justify">
                    <td HEIGHT="50" data-label="Consola">@Html.DisplayNameFor(model => model.FK_.CuerpoCultivos)</td>
                    <td HEIGHT="70" data-label="Precio">@Html.DisplayFor(model => model.FK_.CuerpoCultivos)</td>

                </tr>
                <tr class="text-justify">
                    <td HEIGHT="50" data-label="Consola">@Html.DisplayNameFor(model => model.FK_.RecomendacionesCultivos)</td>
                    <td HEIGHT="70" data-label="Precio">@Html.DisplayFor(model => model.FK_.RecomendacionesCultivos)</td>
                </tr>
                <tr>
                    <td HEIGHT="50" data-label="Consola">@Html.DisplayNameFor(model => model.MetrosCuadradosDetalle)</td>
                    <td HEIGHT="70" data-label="Precio">@Html.DisplayFor(model => model.MetrosCuadradosDetalle)</td>
                </tr>
                <tr>
                    <td HEIGHT="50" data-label="Consola">@Html.DisplayNameFor(model => model.PrecioSemillasDetalle)</td>
                    <td HEIGHT="70" data-label="Precio">@Html.DisplayFor(model => model.PrecioSemillasDetalle)</td>
                </tr>
                <tr>
                    <td HEIGHT="50" data-label="Consola">@Html.DisplayNameFor(model => model.LugarCultivoDetalle)</td>
                    <td HEIGHT="70" data-label="Precio">@Html.DisplayFor(model => model.LugarCultivoDetalle)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">

           function Calcular() {
                var precioDetalle = parseInt(document.getElementById("detalle").value);
                var metrosDetalle = parseInt(document.getElementById("metros").value);
                var input = parseInt(document.getElementById("resultado").value);

            let total = parseInt(precioDetalle * metrosDetalle);
               console.log("El Total es : " + total);
               console.log("El Total es : " + input);

               if (total != null) {

                   document.forma.resultado.value = total;
                   console.log('mostrado')
               }
        }
</script>
