@model Huertos_Autosustentables.Models.TipoCultivo

@{
    ViewData["Title"] = "Details";
}
<div class="m-5">

    <h4>Detalles del Tipo de cultivo @Html.DisplayFor(model => model.NombreTipoCultivos)</h4>
    <hr />
    <div class="row">
        <dl class="col-lg-6">
            <dt>
                @Html.DisplayNameFor(model => model.NombreTipoCultivos)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NombreTipoCultivos)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CaracteristicasTipoCultivos)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CaracteristicasTipoCultivos)
            </dd>
        </dl>
        <dl class="col-lg-6">
            <dd class="font-weight-bold">
                Imagen Cargada :
            </dd>
            <dt class="w-100">
                <img src="@("/img/tipo/" + Model.ImageName)" asp-append-version="true" class="w-25 h-25" />
            </dt>
        </dl>
    </div>
    <hr />
    <div>
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.IdTipoCultivo">Editar</a> |
        <a class="btn btn-info" asp-action="Index">Regresar a la lista</a>
    </div>
</div>
