@model IEnumerable<Huertos_Autosustentables.Models.TipoCultivo>

@{
    ViewData["Title"] = "Index";
}
<div class="m-5">
    <h3 class="text-center">Registro de tipos de cultivos</h3>
    <p>
        <a class="btn btn-success" asp-action="Create">Agregar un nuevo tipo de cultivo</a>
    </p>
    <div class="row">
        @foreach (var item in Model)
        {

            <div class="card-group col-lg-3 col-md-6">
                <div class="card text-justify">
                    <img class="card-img-top" src="@("/img/tipo/" + item.ImageName)" asp-append-version="true" />
                    <div class="card-body">
                        <h5 class="card-title">Nombre:@Html.DisplayFor(modelItem => item.NombreTipoCultivos)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.CaracteristicasTipoCultivos)</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdTipoCultivo">Editar</a> |
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.IdTipoCultivo">Detalles</a> |
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdTipoCultivo">Borrar</a>
                    </div>
                </div>
            </div>

        }
    </div>
</div>
