@model IEnumerable<Huertos_Autosustentables.Models.DetalleUsersCultivo>

@{
    ViewData["Title"] = "Index";
}
<div class="m-5">

    <h3 class="text-center">Otros Destalles</h3>

    <p>
        <a class="btn btn-success" asp-action="Create">Agregar un nuevo detalle</a>
    </p>
    <table class="table table-hover  bg-light text-center">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MetrosCuadradosDetalle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrecioSemillasDetalle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LugarCultivoDetalle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdCultivo)
                </th>
                <th>Editar</th>
                <th>Detalle</th>
                <th>Borrar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MetrosCuadradosDetalle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrecioSemillasDetalle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LugarCultivoDetalle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdCultivo)
                    </td>
                    <td>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdDetalle">Edit</a> 
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.IdDetalle">Details</a> 
                    </td>
                    <td>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdDetalle">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
