@model IEnumerable<Huertos_Autosustentables.Models.Cultivo>

@{
    ViewData["Title"] = "Index";
}

<h3>Te encuentras en Cultivos</h3>

<!--Buscador y el boton de agregar-->

<form class="form-inline" asp-controller="Cultivos" asp-action="Index" method="get">
    <div class="form-group">
        <input id="buscador" type="text" name="SearchString" placeholder="Buscar alimento">
        <input id="boton" type="submit" value="Buscar" />
    </div>
</form>
<div class="boton-agregar">
    <a  asp-action="Create">Agregar nuevo cultivo</a>
</div>

<table class="table table-hover bg-light  table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCultivos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntroduccionCultivos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CuerpoCultivos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecomendacionesCultivos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoCultivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdRegiones)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.ImageFile)
            </th>
            <th>Editar</th>
            <th>Detalle</th>
            <th>Borrar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCultivos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IntroduccionCultivos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CuerpoCultivos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecomendacionesCultivos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdTipoCultivo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdRegiones)
                </td>
                <td>
                    <img src="@("/img/cultivo/" + item.ImageName)" asp-append-version="true" class="rounded" width="25" height="25" />
                </td>
                <td>
                    <a class="btn btn-warning" type="button"  asp-action="Edit" asp-route-id="@item.IdCultivos">Editar</a> 
                </td>
                <td>
                    <a class="btn btn-danger" type="button"  asp-action="Details" asp-route-id="@item.IdCultivos">Detalle</a>
                </td>
                <td>
                    <a class="btn btn-danger" type="button"  asp-action="Delete" asp-route-id="@item.IdCultivos">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
